*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
}

.background{
    background:linear-gradient(180deg, rgba(20, 32, 44, 0.6) 47%, #14202c 100%), url("img/mario-klassen-70YxSTWa2Zw-unsplash.jpg") no-repeat center center;
    background-size:cover;
}


/* HEADER*/

header{
    margin:auto;
    width:85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 8rem;
    object-fit: contain;
}


header .menu button{
    cursor:pointer;
    font-size:0.9em;
    margin: 0;
    padding: 6px 8px;
}

#buttonLogIn{
    color: #d69e2e;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: transparent;
    border: 1px solid #f9ae17;
    box-sizing: border-box;
    border-radius: 6px;
}


#buttonRegister{
    cursor: pointer;
    color: #000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: #f9ae17;
    border-radius: 6px;
}

/* SECTION 1*/

.section1{
    margin: auto;
    width:70%;
    display: flex;
    color:#f9ae17;
    align-items: center;
    justify-content: center;
}

.section1 img{
    max-width:32rem;
    height:fit-content;
}

.section1 div h2{
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.875rem;
}

.section1 span.span-principal{   
    font-size: 1.125rem;
}

.blanco{
    color:white;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

.store-buttons{
    margin-top: 1.5rem;
}

.store-buttons img{
    cursor: pointer;
    width: 10rem;
    height: auto;
    object-fit: contain;
    padding-right: 1rem;
}

/*SECTION 2*/

.background2{
    background:linear-gradient(180deg, #14202C 0%, rgba(20, 32, 44, 0.6) 27.92%, rgba(20, 32, 44, 0.6) 75.31%, #14202C 100%), url("img/pexels-zac-frith-918798.jpg") no-repeat center center;
    background-size:cover
}

.section2{
    width:70%;
    margin:auto;
    display:flex;
    flex-direction: row-reverse;
}

.section2 img{
    max-width:32rem;
    height:fit-content;
}

.section2 div{
    margin-top:19rem;
    text-align: right;
    line-height: 1.5rem;
}

.section2 div h2{
    color:#f9ae17;
    font-size: 1.875rem;
    font-weight: 600;
}

.section2 div p{
    color:white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

/*SECTION 3*/

.background3{
    background:linear-gradient(rgba(202, 212, 223, 0.9), rgba(202, 212, 223, 0.9)), url("img/fancy-crave-qowyMze7jqg-unsplash.jpg") no-repeat center center;
    background-size:cover
}

.section3{
    margin: auto;
    width:70%;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.section3 img{
    max-width: 32rem;
    margin-top: -8rem;
    margin-bottom: -10rem;
}

.section3 h2{
    color:#f9ae17;
    font-size: 1.875rem;
    font-weight: 600;
}

.section3 p{
    color:#41546C;
    font-weight:700;
    margin-top:1rem;
}

/*SECTION 4*/

.background4{
    background:linear-gradient(180deg, #14202C 0%, rgba(20, 32, 44, 0.6) 27.92%, rgba(20, 32, 44, 0.6) 75.31%, #14202C 100%), url("img/football-606235_1280.jpg") no-repeat center center;
    background-size:cover
}

.section4{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    width:70%;
    align-items: center;
}

.section4 img{
    max-width:32rem;
    height:fit-content;
}

.section4 div{
    text-align: right;
    line-height: 1.5rem;
}

.section4 div h2{
    color:#f9ae17;
    font-size: 1.875rem;
    font-weight: 600;
}

.section4 div p{
    color:white;
    font-weight:700;
    margin-top:1rem;
}

/* FOOTER */
footer{
    background: rgba(10,10,10,1) 0% 0% no-repeat;
}

footer .container{
    width:85%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:14px;
}

footer .container p, footer .container div{
    margin:16px 0 14px;
}

footer .container div a{
    margin-left:1rem;
    cursor: pointer;
}

/*RESPONSIVE*/ 

@media (max-width: 768px){


        /* HEADER */
        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        header .menu{
            margin-top: .5rem;
        }


        /* SECTION 1 */
        .section1{
            width:99%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section1 h2{
            margin-top:1rem;
        }

        .section1 p{
            width:85%;
            margin:1rem auto;
        }


        /* SECTION 2 */
        .section2{
            width:99%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section2 div{
            margin-top:2rem;
            width:90%;
        }

        .section2 h2, .section2 p{
            margin-top:1rem;
            text-align:center;
        }

        .section2 img{
            margin-bottom:-10rem;
        }

        /* SECTION 3 */
        .section3{
            width:99%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section3 img{
            max-width: 95%;
            object-fit: contain;
            margin-top: 1rem;
            margin-bottom: -12rem;
        }

        .section3 div{
            width:85%;
            margin-top:10rem;
        }

        /* SECTION 4  */
        .section4{
            width:99%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section4 div{
            width: 80%;
        }
        
        .section4 h2, .section4 p{
            margin-top:10rem;
            text-align:center;
        }

        /*FOOTER*/

        footer .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        footer .container p{
            margin:10px 0 6px;
        }
        
        footer .container div{
            margin-bottom:10px;
        }
}




